<div class="home__container">
  <app-card
    gameCover="assets/capa24.webp"
    gameLabel="EA SPORTS™ FC 24"
    gameType="Disponível para PS5 | PS4"
    gamePrice="R$358,90"
  ></app-card>

  <app-card
    gameCover="assets/gta.webp"
    gameLabel="Grand Theft Auto V: Edição Premium"
    gameType="Disponível para PS5 | PS4"
    gamePrice="R$107,13"
  ></app-card>

  <app-card
    gameCover="assets/spider2.avif"
    gameLabel="Marvel's Spider-Man 2"
    gameType="Disponível para PS5 | PS4"
    gamePrice="R$349,90"
  ></app-card>
</div>

<footer class="rodape">
  <div class="conteudo">
      <p>&copy; 2023 Desenvolvido por Hiago Oliveira. Todos os direitos reservados.</p>
  </div>
</footer>
