.home__container {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  display: flex;

  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.rodape {
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.rodape p {
  margin: 0;
}
